<p-card>
    <ng-template pTemplate="title">
        Consulta Pedidos Cliente
    </ng-template>
    <div class="search-container">
        <input type="text" placeholder="Digite o nome do cliente" [(ngModel)]="nomeCliente">
        <div class="grid grid-nogutter justify-content-start">
            <div style="margin-top: 20px">
                <button type="button" pButton icon="pi pi-search" label="Consultar"
                    (click)="consultarPedido()"></button>
            </div>
        </div>
    </div>
</p-card>

<p-card>
    <p-table [scrollHeight]="'500px'" [frozenWidth]="'800px'" [value]="pedidos" [paginator]="true" [rows]="2">
        <ng-template pTemplate="header">
            <tr>
                <th>Cliente</th>
                <th>Valor Total</th>
                <th>Desconto Total</th>
                <th>Status</th>
                <th>Método Pagamento</th>
                <th>Doação</th>
                <th>Fiado</th>
                <th>Evento</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pedido>
            <tr>
                <td>{{ pedido.nomeCliente }}</td>
                <td>{{ pedido.valorTotal }}</td>
                <td>{{ pedido.descontoTotal }}</td>
                <td>{{ pedido.status }}</td>
                <td>{{ pedido.metodoPagamento }}</td>
                <td>{{ pedido.doacao ? 'Sim' : 'Não' }}</td>
                <td>{{ pedido.fiado ? 'Sim' : 'Não' }}</td>
                <td>{{ pedido.evento }}</td>
                <td>
                    <button (click)="showModal(pedido)" label="Ver Produtos" pButton type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-info"></button>
                </td>
            </tr>
        </ng-template>
        <p-paginator [rows]="2" [totalRecords]="totalPedidos" [pageLinkSize]="2"
            [style]="{'margin-top': '10px'}"></p-paginator>
    </p-table>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-center">
            <div style="padding: 20px">
                <button routerLink="/pdv/pedido/cadastrar" pButton icon="pi pi-plus" label="Novo Pedido"></button>
            </div>
            <div style="padding: 20px">
                <button routerLink="/pdv/pedido/listar" pButton icon="pi pi-arrow-left" label="Voltar"></button>
            </div>
        </div>
    </ng-template>
</p-card>

<p-dialog header="Produtos Pedido" [(visible)]="displayModal" [responsive]="true" [modal]="true" [closable]="true">
    <div class="ui-dialog-content" style="text-align: center;">
        <p-table [value]="produtos" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-produto>
                <tr>
                    <td>{{ produto.produto.codigo }}</td>
                    <td>{{ produto.produto.nome }}</td>
                    <td>{{ produto.quantidade }}</td>
                </tr>
            </ng-template>
            <p-paginator [rows]="5" [totalRecords]="totalProdutos" [pageLinkSize]="5"
                [style]="{'margin-top': '10px'}"></p-paginator>
        </p-table>
    </div>
</p-dialog>