<p-card>
  <p-table [value]="categorias" [paginator]="true" [rows]="3">
    <ng-template pTemplate="header">
      <tr>
        <th>nome</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categoria>
      <tr>
        <td>{{ categoria.nome }}</td>
        <td>
          <button [routerLink]="['../atualizar', categoria.id]" pButton type="button" icon="pi pi-pencil"
            class="p-button-rounded p-button-info"></button>
          <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"
            (click)="deletar(categoria.id)"></button>
        </td>
      </tr>
    </ng-template>
    <p-paginator [rows]="3" [totalRecords]="totalRegistros" [pageLinkSize]="3"
      [style]="{'margin-top': '10px'}"></p-paginator>
  </p-table>
  <ng-template pTemplate="footer">
    <div class="grid grid-nogutter justify-content-center">
      <button routerLink="/pdv/categoria/cadastrar" pButton icon="pi pi-plus" label="Novo Categoria"></button>
    </div>
  </ng-template>
</p-card>