<div class="ng justify-content-center align-items-center">
    <form [formGroup]="formProduto" (ngSubmit)="salvar()" #formDir="ngForm" class="formContainer">
        <div class="p-fluid p-grid formgrid w-8">
            <div class="p-field">
                <label for="codigo">Código</label>
                <input formControlName="codigo" type="text" pInputText name="codigo" required>
            </div>
            <div class="p-field">
                <label for="nome">Nome</label>
                <input formControlName="nome" type="text" pInputText name="nome" required>
            </div>
            <div class="p-field">
                <label for="descricao">Descrição</label>
                <textarea formControlName="descricao" pInputTextarea name="descricao" rows="3"
                    cols="30"></textarea>
            </div>
            <div class="p-field">
                <label for="tamanho">Tamanho</label>
                <input formControlName="tamanho" type="text" pInputText name="tamanho">
            </div>
            <div class="p-field">
                <label for="preco">Preço</label>
                <p-inputNumber formControlName="preco" type="number" pInputNumber mode="currency" currency="BRB" name="preco"></p-inputNumber>
            </div>
            <div class="p-field">
                <label for="desconto">Desconto</label>
                <p-inputNumber formControlName="desconto" type="number" pInputNumber mode="currency" currency="BRB" name="desconto"></p-inputNumber>
            </div>
            <div class="p-field">
                <label for="categorias">Categorias</label>
                <p-dropdown formControlName="categoria" [options]="categorias"
                optionLabel="nome" optionValue="id"></p-dropdown>
            </div>
            <div class="p-field">
                <label for="quantidade">Quantidade em estoque</label>
                <p-inputNumber formControlName="quantidade" type="number" pInputNumber
                    name="quantidade"></p-inputNumber>
            </div>
        </div>
        <div class="button">
            <button type="submit" pButton label="Salvar"></button>
        </div>
    </form>
</div>