<div class="sidebar">
    <img src="../../../assets/img/logo-principal.png">
    <ul>
        <li>
            <a routerLink="/pdv/home/" routerLinkActive="selected">
                <div class="selector">
                    <i class="pi pi-home"></i>
                    <span class="text">Dashboard</span>
                </div>
            </a>
        </li>
        <li>
            <a routerLink="categoria/listar/" routerLinkActive="selected">
                <div class="selector">
                    <i class="pi pi-folder"></i>
                    <span class="text">Categorias</span>
                </div>
            </a>
        </li>
        <li>
            <a routerLink="produto/listar/" routerLinkActive="selected">
                <div class="selector">
                    <i class="pi pi-tag"></i>
                    <span class="text">Produtos</span>
                </div>
            </a>
        </li>
        <li>
            <a routerLink="estoque/listar/" routerLinkActive="selected">
                <div class="selector">
                    <i class="pi pi-inbox"></i>
                    <span class="text">Estoques</span>
                </div>
            </a>
        </li>

       <li>
            <a routerLink="pedido/listar/" routerLinkActive="selected">
                <div class="selector">
                    <i class="pi pi-check-square"></i>
                    <span class="text">Pedidos</span>
                </div>
            </a>
        </li>

        <li>
            <a routerLink="historico/listar/" routerLinkActive="selected">
                <div class="selector">
                    <i class="pi pi-clock"></i>
                    <span class="text">Históricos</span>
                </div>
            </a>
        </li>

        <li>
            <a routerLink="vendedor/listar/" routerLinkActive="selected">
                <div class="selector">
                    <i class="pi pi-users"></i>
                    <span class="text">Vendedores</span>
                </div>
            </a>
        </li>

        <li class="logout">
            <a routerLink="" routerLinkActive="selected">
                <div class="selector">
                    <i class="pi pi-sign-out"></i>
                    <span (click)="logOut()" class="text">LogOut</span>
                </div>
            </a>
        </li>
    </ul>
</div>
